@media (min-width: 1024px) {
    /** loader **/
    .loader {
        &__container {
            width: 40%;
            gap: 20px;
            &--bar {
                width: 35px;
                border-radius: 20px 20px 0 0;
            }
        }
    }
    /** cursor pointer **/
    .checkbox-heart {
        cursor: pointer;
    }
    .menu__section--card-checkbox {
        cursor: pointer;
    }
    /** responsive de l'accueil **/
    .fonctionnement {
        padding: 50px 10%;
        & h2 {
            margin-left: 0;
            margin-bottom: 50px;
        }
        &__card-container {
            flex-direction: row;
            gap: 50px;
        }
        &__card {
            width: 30%;
        }
    }
    #restaurants {
        padding: 50px 10%;
        & h2 {
            margin: 0;
            margin-bottom: 50px;
        }
    }
    .restaurants__card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
    }
    .restaurants__card {
        width: 45%;
        height: 350px;
        
        & img {
            height: 275px;
            object-fit: cover; 
        }
    }
    footer {
        display: flex;
        flex-direction: row;
        padding-right: 50px;
        padding-top: 50px;
        .footer-container {
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-bottom: 10px;
            
        }
        & a {
            padding-top: 0;
        }
        
    }
    /** responsive des menus de restaurants **/
    img {
        height: 400px;
    }

    .menu {
        align-items: center;
        width: 70%;
        margin-left: 15%;
        &__title {
            width: 400px;
        }
        &__section {
            width: 70%;
        }
    }
    .menu-card__text-container {
        & h3 {
            font-size: 1.1em;
        }
        & p {
            font-size: 1em;
        }
    }
    .menu-card__checkbox {
        cursor: pointer;
    }
}